script(type="text/javascript")
    window.user_data = !{JSON.stringify(user)};
script(type='text/javascript', src='js/jquery.js')
//- script(type='text/javascript', src='js/bootstrap.js')
script(type='text/javascript', src='js/underscore.js')
script(type='text/javascript', src='js/backbone.js')
script(type='text/javascript', src='js/socket.io.js')
script(type='text/javascript', src='js/smash.js')