!!!5
html
    head
        title=title || "Welcome To JumboSmash"
        link(rel='stylesheet', media='screen', type='text/css', href='stylesheets/screen.css')
        link(rel='stylesheet', media='screen', type='text/css', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', media='screen', type='text/css', href='stylesheets/bootstrap-theme.css')
    body
        nav.sticky
            h1.col-xs-4.lead.smash-logo JumboSmash
            ul.container.col-xs-8
                li Notifications
                li Settings