!!!5
html
    head
        title=title || "Welcome To JumboSmash"
        link(rel='stylesheet', media='screen', type='text/css', href='stylesheets/screen.css')
        link(rel='stylesheet', media='screen', type='text/css', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', media='screen', type='text/css', href='stylesheets/bootstrap-theme.css')
        script(type='text/javascript', src='js/jquery.js')
        script(type='text/javascript', src='js/bootstrap.js')
        script(type='text/javascript', src='js/underscore.js')
        script(type='text/javascript', src='js/backbone.js')
        script(type='text/javascript', src='js/smash.js')
    body
