include head.jade
.login-window
    form(action='/signup', method='POST')
        input(type='text', placeholder='Tufts Email Address', name='email').email-signup
        input(type='text', placeholder='Graduation Year', name='grad_year').grad-signup
        button.fr(type='submit', name='submit_login').js-sign-up.btn-success Sign Up