/* line 3, ../sass/build.scss */
.center {
  text-align: center;
}

/* line 4, ../sass/build.scss */
.relative {
  position: relative;
  display: block;
}

/* line 5, ../sass/build.scss */
.absolute {
  position: absolute;
}

/* line 6, ../sass/build.scss */
.sticky {
  position: fixed !important;
}

/* line 7, ../sass/build.scss */
.fr {
  float: right;
}

/* line 8, ../sass/build.scss */
.fl {
  float: left;
}

/* line 9, ../sass/build.scss */
.m0 {
  margin: 0;
}

/* line 10, ../sass/build.scss */
.m10 {
  margin: 10px !important;
}

/* line 11, ../sass/build.scss */
.m20 {
  margin: 20px !important;
}

/* line 12, ../sass/build.scss */
.m30 {
  margin: 30px !important;
}

/* line 13, ../sass/build.scss */
.s9 {
  font-size: .9em !important;
}

/* line 14, ../sass/build.scss */
.s8 {
  font-size: .8em !important;
}

/* line 15, ../sass/build.scss */
.s7 {
  font-size: .7em !important;
}

/* line 16, ../sass/build.scss */
.s6 {
  font-size: .6em !important;
}

/* line 17, ../sass/build.scss */
.s5 {
  font-size: .5em !important;
}

/* line 18, ../sass/build.scss */
.s4 {
  font-size: .4em !important;
}

/* line 19, ../sass/build.scss */
.s3 {
  font-size: .3em !important;
}

/* line 20, ../sass/build.scss */
.s2 {
  font-size: .2em !important;
}

/* line 21, ../sass/build.scss */
.s1 {
  font-size: .1em !important;
}

/* line 22, ../sass/build.scss */
.ml-0 {
  margin-left: 0px !important;
}

/* line 23, ../sass/build.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 24, ../sass/build.scss */
.mauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 25, ../sass/build.scss */
.p0 {
  padding: 0 !important;
}

/* line 26, ../sass/build.scss */
.p10 {
  padding: 10px !important;
}

/* line 27, ../sass/build.scss */
.p15 {
  padding: 15px;
}

/* line 28, ../sass/build.scss */
.p30 {
  padding: 30px !important;
}

/* line 29, ../sass/build.scss */
.pointer {
  cursor: pointer;
}

/* line 30, ../sass/build.scss */
.border-simple {
  border: 1px solid #ccc;
}

/* line 31, ../sass/build.scss */
.no-show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 32, ../sass/build.scss */
.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 33, ../sass/build.scss */
.noclick {
  pointer-events: none;
}

/* line 34, ../sass/build.scss */
.inline {
  display: inline-block;
}

/* line 35, ../sass/build.scss */
.block {
  display: block !important;
}

/* line 36, ../sass/build.scss */
.hidden {
  display: none;
}

/* line 37, ../sass/build.scss */
.visible {
  display: block;
}

/* line 38, ../sass/build.scss */
.clear {
  clear: both;
}

/* line 39, ../sass/build.scss */
.w1 {
  width: 10%;
}

/* line 40, ../sass/build.scss */
.w15 {
  width: 15%;
}

/* line 41, ../sass/build.scss */
.w2 {
  width: 20%;
}

/* line 42, ../sass/build.scss */
.w25 {
  width: 25%;
}

/* line 43, ../sass/build.scss */
.w3 {
  width: 30%;
}

/* line 44, ../sass/build.scss */
.w35 {
  width: 35%;
}

/* line 45, ../sass/build.scss */
.w4 {
  width: 40%;
}

/* line 46, ../sass/build.scss */
.w45 {
  width: 45%;
}

/* line 47, ../sass/build.scss */
.w5 {
  width: 50%;
}

/* line 48, ../sass/build.scss */
.w55 {
  width: 55%;
}

/* line 49, ../sass/build.scss */
.w6 {
  width: 60%;
}

/* line 50, ../sass/build.scss */
.w65 {
  width: 65%;
}

/* line 51, ../sass/build.scss */
.w7 {
  width: 70%;
}

/* line 52, ../sass/build.scss */
.w75 {
  width: 75%;
}

/* line 53, ../sass/build.scss */
.w8 {
  width: 80%;
}

/* line 54, ../sass/build.scss */
.w85 {
  width: 85%;
}

/* line 55, ../sass/build.scss */
.w9 {
  width: 90%;
}

/* line 56, ../sass/build.scss */
.w95 {
  width: 94.5%;
}

/* line 57, ../sass/build.scss */
.w10 {
  width: 100%;
}

/* line 58, ../sass/build.scss */
.icon {
  font-family: 'icons';
}

/* line 59, ../sass/build.scss */
.white {
  color: #fff;
}
